.about-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container > div > h1 {
  padding-top: 5%;
  font-size: 2em;
}

.tech-stack-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-container > div > ol {
  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  font: 15px;
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.about-container > div > ol ol {
  margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.history-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}