.about-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container > div > h1 {
  padding-top: 5%;
  font-size: 2em;
}

.tech-stack-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-container > div > ol {
  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  font: 15px;
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.about-container > div > ol ol {
  margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.history-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

.rectangle-list button {
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  *padding: .4em;
  margin: .5em 0 .5em 2.5em;
  background: #F3F3F3;
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;
}

.rectangle-list button:hover{
  background: #eee;
}

.rectangle-list button:before{
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #006D5B;
  color: white;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

.rectangle-list button:after {
  position: absolute;
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}

.rectangle-list button:hover:after{
  left: -.5em;
  border-left-color: #006D5B;
}