.post {
  width: 90%;
}

.post > h1 {
  text-align: center;
  font-family: Arvo;
}

.content > blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.content > blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.content > blockquote p {
  display: inline;
}

img {
  clear: both;
  max-height: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}