.navlist {
    width: 100%;
    padding: 0;
    list-style-type: none;
    font-size: 2em;
    color:white;
}

.navlist > li {
    transition: 0.3s;
    width: 100%;
    height: auto;
    line-height: 1.3em;
}

.navlist > li:hover {
    background-color:white;
}

.navlist > li > a {
    color: white;
    text-decoration: none;
    width: 100%;
    font-size: 1.3em;
}

.navlist > li > a:hover {
    color: #006D5B;
}